@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito&family=Roboto+Mono:wght@200;300;400&display=swap');

html body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    font-family: 'nunito', sans-serif;
}

.navbar {
    background-color: rgb(193, 191, 191);
    margin-top: -16px;
    margin-bottom: 0px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin-left: 13%;
    margin-right: 15%;
    margin-bottom: 0px;
    list-style: none; 
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    gap: 80px;
    padding: 20px;
}

.list1 {
    margin-right: auto; 
    font-size: 20px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none; 
    color: white; 
    font-family: 'nunito', sans-serif;
}

.navbar a:hover {
    color: lightblue;
}


.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: 0px;
    background-color: rgba(32, 39, 58, 0.968);
    color: white;
    gap: 0 20px; 
}

.innersection2 {
    width: 400px;
    height: 200px; 
}

.innersection2 h1 {
    font-weight: bold;
    font-size: 30px;
}

.section-2-image {
    width: 400px;
    height: 200px;
    border: 2px solid white;
    background-color: rgb(193, 191, 191);
    text-align: center;
}

.innersection2 #button1 {
    padding: 8px 35px;
    background-color: rgb(126, 172, 252);
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid white;
}

.innersection2 #button1:hover {
    cursor: pointer;
}

.header2 h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    color: black;
}

.section3 {
    color: black;
    background-color: rgb(235, 235, 235);
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-bottom: 20px;
}

.s-3-item1 {
    width: 150px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}

.s-3-item1 .box {
    border: 2px solid rgba(18, 24, 40, 0.968);
    width: 9.3rem;

    border-radius: 20%;
    padding-bottom: 150px;  
    background-color: rgb(126, 172, 252);
}

.box caption {
    padding-top: 10px;
    margin-top: 5px;   
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 191, 191);
    color: white; 
    margin: 0px auto;
    width: 100%;
    padding: 2rem;
}

.section4 .quote {
    width: 60%;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.section4 p {
    margin: 0px auto;
    text-align: left;
    
}

.section4 .author {
    width: 40%;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.section5 {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2rem;
    background-color: rgb(235, 235, 235);
    gap: 100px;
}

.section5 .box {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(126, 172, 252);
    width: 75%;
    border-radius: 5px;
    gap: 100px;
    padding: 30px;
    color: white; 
}

.innerbox h4 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px; 
}

.box #button {
    padding: 8px 40px;
    color: white; 
    border: 2px solid white; 
    border-radius: 5px;  
    background-color: rgb(126, 172, 252);
    font-weight: bold; 
    letter-spacing: 1px;
}

.box #button:hover {
    cursor: pointer;
}

.innerbox p {
    margin: 0px;
}

.footer {
    text-align: center;
    background-color: rgba(32, 39, 58, 0.968);
    color: white;
    padding: 35px;
    
}

.footer h5 {
    margin: 0px; 
    font-size: 15px;
}

.footer img {
    width: 20px;
    height: auto;
    border-radius: 25%;
    padding: 0px 2px;
}